@import "../css-base/_variables";
@import "../css-base/_mixins";

.hero {
  height: 100vh;
  position: relative;
  background-size: cover;
  overflow: hidden;

  .color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .copy-hldr {
    padding-top: 17.5rem;

    @include breakpoint($break-pt-sm) {
      padding-top: 22rem;
    }

    @include breakpoint($break-pt-md) {
      padding-top: 30rem;
    }
  }
}


// @include breakpoint($break-pt-sm) {}
// @include breakpoint($break-pt-md) {}
// @include breakpoint($break-pt-lg) {}
// @include breakpoint($break-pt-xl) {}
