@import "../css-base/_variables";
@import "../css-base/_mixins";

.home-hero {
  margin: 0;
  height: 100vh;
  background: #202020;
  padding: 0;
  overflow: hidden;


  .main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    overflow-x: hidden;

    .hidden {
      display: none;
    }

    .logo-container {
      display: flex;
      width: 60%;
      height: 100%;
      margin-right: auto;
      margin-left: auto;
      max-height: 240px;
      position: relative;

      @include breakpoint($break-pt-md) {
        width: 50%;
      }

      .reveal{
        fill:#EEEEEE;
      }

      .mask{
        fill:#111111;
        opacity:0;
      }

      .logo-type {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        margin-right: auto;
        margin-left: auto;

        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }

}
