@import "../css-base/_variables";
@import "../css-base/_mixins";

.nav-hldr {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding-top: $navbar-height-base;

  .nav-bg {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $off-black;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: $navbar-padding-top-sm;

    @include breakpoint($break-pt-sm) {
      padding-top: $navbar-padding-top-lg;
    }

    .nav-bar-inner {
      position: relative;

      .logo-type {
        position: absolute;
        top: 4.75rem;
        left: $column-padding;
        display: none;
        opacity: 0;
        width: 15rem;
        height: 2rem;
      }

      .logo-mark {
        width: $logo-mark-width-height-sm;
        height: $logo-mark-width-height-sm;
        margin: 0 auto;

        @include breakpoint($break-pt-sm) {
          width: $logo-mark-width-height-base;
          height: $logo-mark-width-height-base;
        }
      }

      .hamburger-icon {
        position: absolute;
        top: 2.8rem;
        right: $column-padding;
        display: inline-block;

        @include breakpoint($break-pt-sm) {
          top: 3.6rem;
        }
      }
    }
  }

  .nav-links-hldr {
    margin-top: $lg-spacing;
    overflow: auto;
    height: calc(100vh - #{$navbar-height-base + $column-padding});
    display: none;
    opacity: 0;

    .nav-links {
      display: none;
      opacity: 0;
    }
  }
}
