@import "../css-base/_variables";
@import "../css-base/_mixins";


.nav-hldr {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

}


.hamburger-icon {
  display: inline-block;
  width: $hamburger-width-sm;
  height: $hamburger-height-sm;
  font-size: 2rem;

  @include breakpoint($break-pt-sm) {
    width: $hamburger-width-base;
    height: $hamburger-height-base;
  }
      .bm-burger-button {
      position: fixed;
      width: 36px;
      height: 30px;
      left: 36px;
      top: 36px;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
      background: #373a47;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
      background: #bdc3c7;
    }

    /* General sidebar styles */
    .bm-menu {
      background: #373a47;
      padding: 2.5em 1.5em 0;
      font-size: 1.15em;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
      fill: #373a47;
    }

    /* Wrapper for item list */
    .bm-item-list {
      color: #b8b7ad;
      padding: 0.8em;
    }

    /* Styling of overlay */
    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
    }

  .hamburger-svg {
    width: $hamburger-width-sm;
    height: $hamburger-height-sm;

    rect {
      fill: $white;
      width: 100%;
    }

    @include breakpoint($break-pt-sm) {
      width: $hamburger-width-base;
      height: $hamburger-height-base;
    }
  }

  &:hover {
    .hamburger-svg {
      rect {

        @include breakpoint($break-pt-md) {
          fill: $gray;
        }

        &:nth-child(2) {
          // width: 80%;
          // transform-origin: 50% 50%;
        }
      }
    }
  }
}
