@import "../css-base/_variables";
@import "../css-base/_mixins";

.nav-column {
  .nav-we-are {
    display: block;
  }
}

.nav-hldr {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding-top: $navbar-height-base;

  .nav-bg {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $off-black;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: $navbar-padding-top-sm;

    @include breakpoint($break-pt-sm) {
      padding-top: $navbar-padding-top-lg;
    }

    .nav-bar-inner {
      position: relative;

      .hamburger-icon {
        position: absolute;
        top: 2.8rem;
        right: $column-padding;
        display: inline-block;

        @include breakpoint($break-pt-sm) {
          top: 3.6rem;
        }
      }

      .logo-type-a {
        display: none;

        .logo-type {
          position: absolute;
          top: 3.2rem;
          left: $column-padding;
          display: none;
          opacity: 0;
          width: 15rem;
          height: 2rem;

          @include breakpoint($break-pt-sm) {
            top: 4.75rem;
          }
        }
      }

      .logo-mark-a {
        display: none;

        .logo-mark {
          width: $logo-mark-width-height-sm;
          height: $logo-mark-width-height-sm;
          margin: 0 auto;

          @include breakpoint($break-pt-sm) {
            width: $logo-mark-width-height-base;
            height: $logo-mark-width-height-base;
          }
        }
      }
    }
  }

  .nav-links-hldr {
    margin-top: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - #{$navbar-height-sm + $column-padding});
    display: none;
    opacity: 0;

    @include breakpoint($break-pt-sm) {
      -webkit-overflow-scrolling: none;
      margin-top: $lg-spacing;
      height: calc(100vh - #{$navbar-height-base + $column-padding});
    }

    .nav-links {
      display: none;
      opacity: 0;
    }
  }
}
