@import '../css-base/index.scss';

.nav-hldr {
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // z-index: 100;
  padding-top: $xl-spacing;
  padding-bottom: $xl-spacing;

  .logo-mark {
    width: 10.4rem;
    height: 10.4rem;
  }

  .logo-type {
    width: 15rem;
    height: 2rem;
    margin-top: 4rem;
  }

  .nav {
    margin-top: $lg-spacing;
    display: none;
  }
}
