@import '../css-base/index.scss';

.nav-column {
  color: $orange;

  .title {
    @include fontsize(1.4rem, 1.4rem);
    color: $orange;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5rem;
    border-bottom: .1rem solid $orange;
    padding-bottom: $sm-spacing;
    margin-bottom: $md-spacing;
  }

  .nav-col-ul {
    @include fontsize(2.4rem, 2.4rem);

    li {
      margin-bottom: $base-spacing;
      a {
        font-weight: 200;
        opacity: .5;

        &:hover {
          opacity: .75;
          text-decoration: none;
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }
}
