@import "../css-base/_variables";
@import "../css-base/_mixins";

.img-hldr {
  @include component-margin-top-bottom;

  .img-hldr-inner {

    margin-bottom: $base-spacing;

    &:last-of-type {
      margin-bottom: 0;
    }

    .img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}
