@import "../css-base/_variables";
@import "../css-base/_mixins";

.img-hldr {
  // @include component-padding-top-bottom('ui-Image');
  @include component-padding-top-bottom();
  position: relative;

  &:before {
    content:"";
    position:absolute;
    top: $component-padding-top-xs;
    left:0;
    right:0;
    bottom:0;

    @include breakpoint($break-pt-sm) {
      top: $component-padding-top-sm;
    }

    @include breakpoint($break-pt-md) {
      top: $component-padding-top-md;
    }

    @include breakpoint($break-pt-lg) {
      top: $component-padding-top-lg;
    }
  }

  .img-hldr-inner {
    margin-bottom: $base-spacing;
    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }

    .img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}
