@import '../css-base/index.scss';

.img-hldr {
  background: #ccc; // Temp style
  padding-top: $md-spacing; // Temp style
  padding-bottom: $md-spacing; // Temp style
  margin-top: $sm-spacing; // Temp style
  margin-bottom: $sm-spacing; // Temp style

  .img {
    width: 100%;
    height: auto;
  }
}
