@import "../css-base/_variables";
@import "../css-base/_mixins";

.nav-column {
  color: $orange;

  .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5rem;
    border-bottom-color: $orange;
    padding-bottom: $sm-spacing;
    margin-bottom: $md-spacing;
  }

  .nav-col-ul {
    @include fontsize(2.4rem, 4.8rem);

    li {
      a {
        font-weight: 200;
        // opacity: .5;

        &:hover {
          opacity: .75;
          text-decoration: none;
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }
}

.nav-column-about {
  p {
    @include fontsize(2.4rem, 4.8rem);
    color: $orange;
    font-weight: 200;
    // opacity: .5;
    margin-bottom: $base-spacing;

    a {
      font-weight: 200;
    }

    .contact {
      color: $gray;
    }

    .addr {
      color: $drk-gray
    }
  }
}
