@import "../css-base/_variables";
@import "../css-base/_mixins";

.nav-footer-hldr {
  padding-top: $navbar-height-base;

  .nav-footer-bar {
    padding-top: $base-spacing;
    height: $navbar-height-base;

    .nav-footer-bar-inner {
      position: relative;

      .logo-footer-type {
        position: absolute;
        display: none;
        top: 4.75rem;
        left: $column-padding;
        width: 15rem;
        height: 2rem;

        @include breakpoint($break-pt-sm) {
          display: block;
        }
      }

      .logo-footer-mark {
        width: 10.4rem;
        height: 10.4rem;
        margin: 0 auto;
      }

    }
  }

  .nav-footer-links {
    margin-top: $lg-spacing;
  }
}
