@import '../css-base/_variables';
@import '../css-base/_mixins';
@import '../css-base/_general';


.app-container {
  height: 100%;
}

*,
*:after,
*:before {
   -webkit-box-sizing: border-box;
   box-sizing: border-box; 
}
