@import '../css-base/index.scss';

.project-hero {
  height: 5rem; // Temp style
  background: #ccc; // Temp style
  padding: $base-spacing; // Temp style
  margin-top: $sm-spacing; // Temp style
  margin-bottom: $sm-spacing; // Temp style
}
