@import '../css-base/index.scss';

.project-hero {
  min-height: 90rem;
  position: relative;

  .color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .copy-hldr {
    padding-top: 30rem;
  }
}
