@import '../css-base/index.scss';

.tagline {
  background: $orange;
  text-align: center;
  padding: $xl-spacing $base-spacing;

  @include breakpoint($break-pt-md) {
		padding: 160px $base-spacing;
	}

  @include breakpoint($break-pt-lg) {
		padding: 215px $base-spacing;
	}

  .title {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
  }
}
