@import '../css-base/index.scss';

.tagline {
  background: $orange;
  text-align: center;
  padding: 215px $base-spacing;

  .title {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
  }
}
