 @import "../css-base/_variables";
 @import "../css-base/_mixins";

.section-header {
  text-align: center;
  @include component-margin-top-bottom;

  .number-hldr {
    margin-bottom: $md-spacing;
    padding-right: 0;

    @include breakpoint($break-pt-sm) {
      margin-right: 16.66667%; // With of two more columns
      margin-bottom: 0;
      padding-right: $column-padding;
    }

    .nunber-title {
      color: $drk-gray;
      border-bottom-color: $drk-gray;
    }
  }

  .title-hldr {
    .title {
      color: $orange;
      border-bottom-color: $orange;
      text-align: center;
    }
  }
}
