@import '../css-base/index.scss';

.section-header {
  text-align: center;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;

  .number {
    @include breakpoint($break-pt-sm) {
      margin-right: 16.66667%; // With of two more columns
    }

    .nunber-title {
      color: $drk-gray;
      border-bottom-color: $drk-gray;
    }
  }

  .title-hldr {
    .title {
      color: $orange;
      border-bottom-color: $orange;
      text-align: center;
    }
  }
}
