@import '../css-base/index.scss';

.section-header {
  background: #ccc; // Temp style
  text-align: center;
  padding: $base-spacing; // Temp style
  margin-top: $sm-spacing; // Temp style
  margin-bottom: $sm-spacing; // Temp style
}
