html,
body {
  background: $off-black;
  color: $white;
}

// offscreen
.screen-reader-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
}

.text-center {
	text-align: center;
}

.text-right {
  text-align: right;
}
