@import '~node-reset-scss/scss/_reset';
@import './_fonts';
@import './_typography';
@import './_grid';

html,
body {
  background: $off-black url(../../assets/images/img-component-bg.jpg);
  background-attachment: fixed;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 62.5%; // So rem come out to 10px
  color: $bodycopy;
  height: 100%;
}

img {
  display: inline-block;
}

// offscreen
.screen-reader-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  position: absolute;
  width: .1rem;
  height: .1rem;
  overflow: hidden;
  margin: -.1rem;
  padding: 0;
}

.text-center {
	text-align: center;
}

.text-right {
  text-align: right;
}

.horizontal-line {
  width: 100%;
  border-top: 1px solid $gray;
  height: 1px;
  margin-bottom: $base-spacing;
}


// Video play button
/* This used to work for parent element of button divs */
/* But it is not enough now, below dont hide play button parent div */
*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */
*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */
/* This one works */
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
