@import "./_variables";
@import '~breakpoint-sass/stylesheets/_breakpoint';

@mixin fontsize($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
}

@mixin margin-top-bottom($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin padding-top-bottom($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


@mixin component-padding-top-bottom($component: null) {

  padding-top: $component-padding-top-xs;
  padding-bottom: 0;

  @include breakpoint($break-pt-sm) {
    padding-top: $component-padding-top-sm;
    padding-bottom: 0;
  }

  @include breakpoint($break-pt-md) {
    padding-top: $component-padding-top-md;
    padding-bottom: 0;
  }

  @include breakpoint($break-pt-lg) {
    padding-top: $component-padding-top-lg;
    padding-bottom: 0;
  }

  @if $component == 'ui-Image' {
    padding-top: $component-padding-top-xs * 2;
    padding-bottom: 0;

    @include breakpoint($break-pt-sm) {
      padding-top: $component-padding-top-sm * 2;
      padding-bottom: 0;
    }

    @include breakpoint($break-pt-md) {
      padding-top: $component-padding-top-md * 2;
      padding-bottom: 0;
    }

    @include breakpoint($break-pt-lg) {
      padding-top: $component-padding-top-lg * 2;
      padding-bottom: 0;
    }
  }
}
