h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $sm-spacing;
  font-family: 'Titillium Web', sans-serif;
  line-height: $line-height-heading;
  color: $white;

  &.underline {
    border-bottom: 1px solid $white;
  }

  &.overline {
    border-top: 1px solid $white;
  }
}

h1 {
  @include fontsize(3.4rem, 4.1rem);
  color: $white;

  @include breakpoint($break-pt-sm) {
    // @include fontsize(4.4rem, 5.6rem);
  }
}

h2 {
  @include fontsize(2.1rem, 2.9rem);
  font-weight: 200;

  @include breakpoint($break-pt-sm) {
    @include fontsize(3.2rem, 4.1rem);
  }

  @include breakpoint($break-pt-md) {
    @include fontsize(5.6rem, 8rem);
  }

  @include breakpoint($break-pt-lg) {
    @include fontsize(5.6rem, 8rem);
  }
}

h3 {
  @include fontsize(1.6rem, 1.6rem);
  color: $orange;
}

h4 { // Used by section headers
  @include fontsize(1.8rem, 2.4rem);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding-bottom: $xs-spacing;
}

h5 { // Used by Details
  @include fontsize(1.6rem, 3.2rem);
  font-weight: 300;
  padding-bottom: $xs-spacing;
}

p {
  font-family: 'Titillium Web', sans-serif;
  @include fontsize($font-size-base, $line-height-base);
  font-weight: 200;
  margin: 0 0 $md-spacing;
  color: $white;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.copy-lg {
  p {
    @include fontsize($font-size-lg, $line-height-lg);
    font-weight: 200;
    margin: 0 0 $lg-spacing;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

a {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

ul, li {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}

img,
picture {
  margin: 0;
  width: 100%;
}

.bld,
strong {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}

.ital {
  font-style: italic;
}
