// Colors
$black:      #000;
$off-black:  #202020;
$drk-gray:   #4d4d4d;
$gray:       #808080;
$white:      #fff;
$off-white:  #f5f5f5;
$orange:     #d94c02;


// Breakpoints/Grid
$break-pt-xs: 0;
$break-pt-sm: 48rem;
$break-pt-md: 76.8rem;
$break-pt-lg: 99.2rem;
$break-pt-xl: 120rem;

// Available breakpoints
// @include breakpoint($break-pt-sm) {}
// @include breakpoint($break-pt-md) {}
// @include breakpoint($break-pt-lg) {}
// @include breakpoint($break-pt-xl) {}


$wrapper-max: 144rem;
// $columns: 12;
// $gutters: .75;
$column-padding: 2.4rem;

// Navigation
$navbar-height: 12.5rem;


// Font Sizes
$font-size-base: 1.8rem;
$font-size-lg: 2.4rem;

// Line height
$line-height-base: 3.6rem;
$line-height-lg: 4.8rem;
$line-height-heading: 1.2;

// Other Sizes
$base-spacing: 2rem;
$xs-spacing: $base-spacing / 4;
$sm-spacing: $base-spacing / 2;
$md-spacing: $base-spacing * 2;
$lg-spacing: $base-spacing * 3;
$xl-spacing: $base-spacing * 4;
$xxl-spacing: $base-spacing * 5;

// component spacing
$component-margin-top-xs: 6.5rem;
$component-margin-bottom-xs: 0;
$component-margin-top-sm: 8.5rem;
$component-margin-bottom-sm: 0;
$component-margin-top-md: 15rem;
$component-margin-bottom-md: 0;
$component-margin-top-lg: 17.5rem;
$component-margin-bottom-lg: 0;

// Forms
$form-border-radius: .3rem;
$form-element-padding-top-bottom: 1.2rem;
$form-element-padding-left-right: .8rem;
$radio-btn-padding-top: .8rem;
$form-border-color: #c4c4c4;
$error-message-color: #ff5a60;

// Animations
$base-duration: 350ms;
$base-timing: ease-in-out;
$ease-cubic: cubic-bezier(0, 1, 0.5, 1);
