@import "~reflex-grid/scss/reflex/variables";

// Colors
$black:      #000;
$off-black:  #202020;
$drk-gray:   #4d4d4d;
$gray:       #808080;
$off-white:  #f5f5f5;
$white:      #fff;
$orange:     #d94c02;
$bodycopy:   #ccc;


// Breakpoints/Grid
$break-pt-xs: 0;
$break-pt-sm: 48em;
$break-pt-md: 76.8em;
$break-pt-lg: 99.2em;
$break-pt-xl: 120em;

// Reflex Grid overrides
$reflex-xs: $break-pt-xs;
$reflex-sm: $break-pt-sm;
$reflex-md: $break-pt-md;
$reflex-lg: $break-pt-lg;
$reflex-xlg: $break-pt-xl;

// Available breakpoints
// @include breakpoint($break-pt-sm) {}
// @include breakpoint($break-pt-md) {}
// @include breakpoint($break-pt-lg) {}
// @include breakpoint($break-pt-xl) {}


$wrapper-max: 144rem;
$column-padding: 2.4rem;

// Navigation
$logo-mark-width-height-base: 10.4rem;
$logo-mark-width-height-sm: 8rem;
$navbar-padding-top-sm: 4rem;
$navbar-padding-bottom-sm: 6rem;
$navbar-padding-top-lg: 7.5rem;
$navbar-padding-bottom-lg: 12.5rem;
$hamburger-width-sm: 4rem;
$hamburger-height-sm: 2.3rem;
$hamburger-width-base: 4.8rem;
$hamburger-height-base: 3rem;
$navbar-height-sm: $logo-mark-width-height-sm + $navbar-padding-top-sm;
$navbar-height-base:  $logo-mark-width-height-base + $navbar-padding-top-lg;

// Hero
$hero-height: 100vh;

// Font Sizes
$font-size-sm: 1.6rem;
$font-size-base: 1.8rem;
$font-size-lg: 2.4rem;

// Line height
$line-height-sm: 3.2rem;
$line-height-base: 3.6rem;
$line-height-lg: 4.8rem;
$line-height-heading: 1.2;

// Other Sizes
$base-spacing: 2rem;
$xs-spacing: $base-spacing / 4;
$sm-spacing: $base-spacing / 2;
$md-spacing: $base-spacing * 2;
$lg-spacing: $base-spacing * 3;
$xl-spacing: $base-spacing * 4;
$xxl-spacing: $base-spacing * 5;

// component spacing
$component-padding-top-xs: 6.5rem;
$component-padding-bottom-xs: 6.5rem;
$component-padding-top-sm: 8.5rem;
$component-padding-bottom-sm: 8.5rem;
$component-padding-top-md: 15rem;
$component-padding-bottom-md: 15rem;
$component-padding-top-lg: 17.5rem;
$component-padding-bottom-lg: 17.5rem;

// Forms
$form-border-radius: .3rem;
$form-element-padding-top-bottom: 1.2rem;
$form-element-padding-left-right: .8rem;
$radio-btn-padding-top: .8rem;
$form-border-color: #c4c4c4;
$error-message-color: #ff5a60;

// Animations
$base-duration: 350ms;
$base-timing: ease-in-out;
$ease-cubic: cubic-bezier(0, 1, 0.5, 1);
