@import "../css-base/_variables";
@import "../css-base/_mixins";

.details {
  @include component-padding-top-bottom();
  position: relative;

  .project-link {
    margin-bottom: $md-spacing;
    margin-right: 0;

    .title {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    @include breakpoint($break-pt-xs) {
      margin-right: 0;
    }

    @include breakpoint($break-pt-sm) {
      margin-right: 0;
    }

    @include breakpoint($break-pt-md) {
      margin-right: 16.66667%;
    }

    @include breakpoint($break-pt-lg) {
      margin-right: 16.66667%;
    }

  }

  .details-list {
    @include fontsize(1.2rem, 2.4rem);
    margin-bottom: $md-spacing;

    &.gray {
      color: $gray;
    }
  }

  .list1-hldr,
  .list2-hldr {

    .title {
      @include fontsize(1.6rem, 3.2rem);
      color: $gray;
      border-color: $gray;

      @include breakpoint($break-pt-sm) {
        @include fontsize(1.2rem, 3.2rem);
      }
    }

    .list1-ul {}
    .list2-ul {}
  }
}
