@import '../css-base/_mixins';

.text-contact {
  @include component-padding-top-bottom();
  position: relative;

  .copy {

  }

  .contacts {
    padding-top: $base-spacing;

    @include breakpoint($break-pt-sm) {
      padding-top: 0;
    }

    .line {
      display: none;

      @include breakpoint($break-pt-sm) {
        display: block;
      }
    }

    p {
      @include fontsize($font-size-sm, $line-height-sm);
      margin-bottom: $base-spacing;

      @include breakpoint($break-pt-sm) {
        margin-bottom: $md-spacing;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        font-weight: 200;
        color: $orange;
      }
    }
  }
}
