@import "../css-base/_variables";
@import "../css-base/_mixins";

.logos {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: $navbar-padding-top-sm;

  @include breakpoint($break-pt-sm) {
    padding-top: $navbar-padding-top-lg;
  }

  .nav-bar-inner {
    position: relative;

    .logo-type-a {
      display: inline-block;

      .logo-type {
        position: absolute;
        top: 3.2rem;
        left: $column-padding;
        display: none;
        opacity: 0;
        width: 15rem;
        height: 2rem;

        @include breakpoint($break-pt-sm) {
          top: 4.75rem;
        }
      }
    }

    .logo-mark-a {
      display: inline-block;

      .logo-mark {
        width: $logo-mark-width-height-sm;
        height: $logo-mark-width-height-sm;
        margin: 0 auto;

        @include breakpoint($break-pt-sm) {
          width: $logo-mark-width-height-base;
          height: $logo-mark-width-height-base;
        }
      }
    }
  }
}
