@import "../css-base/_variables";
@import "../css-base/_mixins";

.project-intro {
  @include component-padding-top-bottom();
  position: relative;

  .image-hldr {
    margin-bottom: $md-spacing;

    .img {
      margin: 0 auto;
      width: 92px;
      height: 92px;
    }
  }

  .copy {

  }
}
