@import '../css-base/index.scss';

.project-intro {
  @include component-margin-top-bottom;

  .image {
    .img {
      margin: 0 auto;
      width: 92px;
      height: 92px;
    }
  }

  .copy {

  }
}
