@import '../css-base/_variables';
@import '../css-base/_mixins';

.workgrid-hldr {
  @include component-padding-top-bottom();
  position: relative;

  &.home {
    padding-top: 0;
    padding-bottom: 0;
  }

  .workgrid__item {
    padding: 0;
    overflow: hidden;

    .workgrid__item-link {
      display: block;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($black, 0.3);
        transition: all 2s linear;
      }

      .workgrid__item-img {
        vertical-align: top;
        filter: grayscale(100%);
        transition: filter 2s, transform 1s;
      }

      &:hover {

        &:after {
          background: rgba($black, 0);
        }

        .workgrid__item-img {
          filter: grayscale(0%);
          transform: scale(1.05, 1.05);
        }
      }

      .workgrid__item-copy {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: $column-padding;
        text-align: center;
        letter-spacing: .5rem;

        .type-title {
          position: absolute;
          top: $column-padding;
          right: 0;
          left: 0;
        }

        .title-hldr {
          @include vertical-align();
          width: 100%;
          padding: 15px;

          .title {
            color: $white;
          }
        }
      }
    }
  }
}
